// Place all the styles related to the Issue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  color: green;
  font-weight: bold;
  border: none;
  display: inline;
}

.label {
  background-color: grey;
  color: white;
  padding: 5px;
  border-radius: 10px;
  top: -10px;
  left: 50%;
  font-size: 10px;
}

.filter {
  margin: 20px;
  padding: 20px;
}

.btn-filter {
  border: none;
  &:hover {
    border: none;
  }
}